.hero-image {
  max-height: 100%; /* Ensure the image doesn't exceed the container */
  max-width: 100%; /* Ensure the image doesn't exceed the container */
  position: relative;
  object-fit: cover;
}

.carousel-image-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Set the height to fill the viewport */
}

.carousel-image1 {
  margin-left: 100px; /* Adjust the value as needed */
}

.carousel-image2 {
  margin: 30px; /* Adjust the value as needed */
}

.carousel-image3 {
  margin: 30px; /* Adjust the value as needed */
}

.carousel-image4 {
  margin: 30px; /* Adjust the value as needed */
}

.carousel-image5 {
  margin: 60px; /* Adjust the value as needed */
}

.shop-now-button {
  position: absolute;
  bottom: 250px; /* distance from the bottom as needed */
  left: 400px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 40px 100px;
  cursor: pointer;
  font-size: 24px
}


.shop-now-button:hover {
  background-color: #0056b3; /* Hover background color */
}



body {
  background-color: #dbd4d3 !important;
}


/* Footer Styles */

.footer {
  background-color: #757789;
  color: #fff;
  padding: 40px 0;
}

.footer h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer p {
  font-size: 16px;
  margin-bottom: 10px;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ff5733; /* Change the color on hover */
}

/* Copyright Text Styles */

.footer h3:last-child {
  font-size: 18px;
  margin-top: 20px;
  font-weight: normal;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .footer {
      text-align: center;
  }

  .social-icons {
      margin-top: 20px;
  }

  .social-icons li {
      margin: 0 5px;
  }
}