.hero-image {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  object-fit: cover;
}

.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel-image1 {
  margin-left: 100px;
}

.carousel-image2 {
  margin: 30px;
}

.carousel-image3 {
  margin: 30px;
}

.carousel-image4 {
  margin: 30px;
}

.carousel-image5 {
  margin: 60px;
}

.popular-heading {
  color: black;
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
}

.product-image {
  object-fit: cover;
  box-sizing: border-box;
  width: 100px;
  max-height: 400px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  background-color: #dbd4d3 !important;
}

.footer {
  background-color: #757789;
  color: #fff;
  padding: 40px 0;
}

.footer h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer p {
  font-size: 16px;
  margin-bottom: 10px;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ff5733;
}

.footer h3:last-child {
  font-size: 18px;
  margin-top: 20px;
  font-weight: normal;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .social-icons {
    margin-top: 20px;
  }

  .social-icons li {
    margin: 0 5px;
  }
}
